<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=word_count%></h2>

<h2>Vowels: <%=vowel_count%></h2>

<h2>Consonants: <%=constants_count%></h2>

<h2>Most Common Letter: <%=common_letter%>, used <%=common_letter_count%> times</h2>

